<script src="new-post.component.ts"></script>
<div class="new-post">
  <mat-card>
    <form [formGroup]="postForm">
      <mat-label>Post</mat-label>
      <quill-editor [modules]="modules" formControlName="text" [style]="{height: '300px'}"></quill-editor>
      <!--<mat-form-field>-->
      <!--<mat-select placeholder="Tags" formControlName="tags" multiple>-->
      <!--<mat-option *ngFor="let tag of tagList" [value]="tag">{{tag}}</mat-option>-->
      <!--</mat-select>-->
      <!--</mat-form-field>-->

      <mat-form-field>
        <mat-chip-list #tagList>
          <mat-chip
            *ngFor="let tag of tags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New tag..."
            #tagInput
            formControlName="tags"
            [matAutocomplete]="auto"
            [matChipInputFor]="tagList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
          <mat-option *ngIf="postForm.controls.tags.value !== ''">
            <button mat-button style="width: 100%; text-align: left; padding: 0" (click)="addNewTag()">Add tag "{{postForm.controls.tags.value}}"</button>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <section>
        <mat-checkbox formControlName="schedule">Schedule</mat-checkbox>
      </section>

      <div class="schedule" *ngIf="postForm.controls.schedule.value">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Choose a time" aria-label="24hr format" [ngxTimepicker]="fullTime"
                 [format]="24"
                 formControlName="time">
          <ngx-material-timepicker #fullTime></ngx-material-timepicker>
        </mat-form-field>
      </div>

      <button mat-button (click)="sendPost()" class="send-button">Send Post</button>
    </form>
  </mat-card>
</div>
