.new-post {
  width: 800px;
  margin: 0 auto;
}

.new-post textarea {
  width: 100%;
}

mat-form-field {
  margin-top: 10px;
  width: 100%;
}

.send-button {
  display: block;
  margin: 0 auto;
}

.editor {
  height: 600px;
}

.tags {
  display: flex;
}

.tags-button {
  display: flex;
  align-items: center;
}

mat-card h1 {
  margin: 0;
}
