<script src="new-post.component.ts"></script>
<div class="new-post">
  <mat-card>
    <h1>Создать пост</h1>
    <form [formGroup]="postForm">
      <quill-editor [modules]="modules" formControlName="text" [style]="{height: '300px'}"
                    placeholder="Введите текст"></quill-editor>
      <mat-form-field>
        <mat-chip-list #tagList>
          <mat-chip
            *ngFor="let tag of tags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Теги"
            #tagInput
            formControlName="tags"
            [matAutocomplete]="auto"
            [matChipInputFor]="tagList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
          <mat-option *ngIf="postForm.value.tags !== '' && tags.indexOf(postForm.value.tags) === -1">
            <button mat-button style="width: 100%; text-align: left; padding: 0" (click)="addNewTag()">Добавить тег
              "{{postForm.value.tags}}"
            </button>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <section>
        <mat-checkbox formControlName="schedule">Отложенная публикация</mat-checkbox>
      </section>

      <div class="schedule" *ngIf="postForm.value.schedule">
        <mat-form-field>
          <input matInput placeholder="Date Time:"
                 formControlName="timestamp"
                 [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
          <owl-date-time #dt></owl-date-time>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="sendPost()" class="send-button">Опубликовать</button>
    </form>
  </mat-card>
</div>
